.header{
    width: 100%;
    height: 76px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content a{
   
    text-decoration: none;


}

.nav{
   display:flex;
   align-items: center;
}

.logo{
   color: white;
   font-size: 32px;
}

.logo span{
    color: red ; 
    padding-left: 2px; 

}


.loginButton{

  background-color: transparent;
  padding: 8px 24px;
  color:white; 
  border: 1.5px solid white ;
  border-radius: 2rem;
  cursor:pointer;
  transition: transform 0.3s;

}


.loginButton:hover {
   transform:scale(1.08);
   background: white;
   color:black ; 
   font-weight:bold ; 
}

.link{
    background-color: white;
    color: black;
    padding: 4px 14px; 
    border-radius : 4px;
    margin: 0 14px;
}